*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.btn {
    display: inline-block;
    border: none;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 10px;
    transition: all 0.5s;
}

.box {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Click_me {
    font-size: 1rem;
    font-weight: 600;
    padding: 1rem 3rem;
    background-color: brown;
    color: white;

}

.Click_me:hover {
    box-shadow: 0rem 0.5rem 0.7rem #f57ad2;
    transform: translateY(-0.25rem);
}

.Click_me:active {
    transform: translateY(-0.2rem);
    box-shadow: 0rem 0.4rem 0.6rem #8f0a69;
}

.log_in_form {
    height: 100vh;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #b74096;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    transition: all 0.3s;
    opacity: 0;
    visibility: hidden;
}

.form {
    display: flex;
    justify-content: center;
    transform: translateY(-5rem);
    transition: all 0.5s;
    flex-direction: column;
    background-color: white;
    width: 50%;
    border-radius: 15px;
}

.form h3{
    align-self: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    color: grey;
}

.form > * {
    margin: 0 1rem;
}

.form > input {
    height: 1.5rem;
    border-radius: none;
    border-bottom: 1px solid #b1b1b1;
    font-size: 0.7rem;
    font-weight: 900;
    margin-bottom: 1rem;
}

.form_input {
    font-size: 0.6rem;
    color: grey;
}

.form_forgot {
    font-size: 0.6rem;
    align-self: center;
    margin-bottom: 1rem;
    transition: all 0.2s;
}

.form_forgot:hover {
    color: grey;
    cursor: pointer;
}

.log_in_button {
    justify-self: flex-end;
    margin-bottom: 1rem;
    border-radius: 10rem;
    padding: 0.5rem 0.8rem;
    background-color: #8f0a69;
    color: white;
    box-shadow: 0rem 0.4rem 1rem rgba(158, 158,158, 0.6);
}

.log_in_button:active {
    transform: translateY(0.2rem);
    box-shadow: 0rem 4rem 0.4rem #8f0a69;
}

.visible {
    opacity: 1;
    visibility: visible;
}

.position {
    transform: translateY(0);
}