body {
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1000%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='%231e3266'%3e%3c/rect%3e%3cpath d='M1464 560L0 560 L0 322.63Q45.29 295.92%2c 72 341.21Q80.42 277.63%2c 144 286.05Q197.01 267.06%2c 216 320.08Q257.17 289.25%2c 288 330.42Q335.96 258.38%2c 408 306.35Q471.98 298.33%2c 480 362.3Q480.37 290.67%2c 552 291.04Q582.94 249.98%2c 624 280.92Q724.92 261.85%2c 744 362.77Q776.58 275.35%2c 864 307.92Q944.05 267.97%2c 984 348.02Q1037.71 281.74%2c 1104 335.45Q1151.54 310.99%2c 1176 358.53Q1178.01 288.54%2c 1248 290.56Q1326.67 297.23%2c 1320 375.9Q1321.23 305.13%2c 1392 306.37Q1419.89 262.26%2c 1464 290.16z' fill='%23182f5d'%3e%3c/path%3e%3cpath d='M1464 560L0 560 L0 421.27Q36.22 385.49%2c 72 421.7Q124.53 354.23%2c 192 406.75Q267.26 362.01%2c 312 437.28Q363.95 369.23%2c 432 421.17Q458.58 327.75%2c 552 354.33Q619.12 301.45%2c 672 368.57Q769.24 345.81%2c 792 443.04Q844.72 375.76%2c 912 428.49Q937.88 334.37%2c 1032 360.24Q1078.21 334.45%2c 1104 380.66Q1165.61 370.27%2c 1176 431.88Q1198.51 382.39%2c 1248 404.91Q1276.62 361.53%2c 1320 390.15Q1339.16 337.31%2c 1392 356.47Q1435.38 327.85%2c 1464 371.22z' fill='%2325467d'%3e%3c/path%3e%3cpath d='M1512 560L0 560 L0 477.87Q69.31 427.18%2c 120 496.49Q152.88 409.37%2c 240 442.24Q313.01 395.25%2c 360 468.27Q389.11 425.38%2c 432 454.49Q452.41 402.9%2c 504 423.32Q549.01 396.34%2c 576 441.35Q632.85 426.2%2c 648 483.04Q693.92 456.97%2c 720 502.89Q739.22 402.11%2c 840 421.32Q912.9 374.22%2c 960 447.12Q1029.06 444.18%2c 1032 513.23Q1086.24 447.47%2c 1152 501.7Q1203.51 433.21%2c 1272 484.72Q1315.18 407.9%2c 1392 451.09Q1460.08 399.17%2c 1512 467.25z' fill='%23356cb1'%3e%3c/path%3e%3cpath d='M1488 560L0 560 L0 543.16Q22.9 494.06%2c 72 516.96Q115.74 488.7%2c 144 532.44Q212.39 480.83%2c 264 549.22Q338.67 503.89%2c 384 578.56Q423.36 497.91%2c 504 537.27Q549.09 462.36%2c 624 507.45Q682.21 493.66%2c 696 551.87Q774.05 509.92%2c 816 587.97Q828.72 528.69%2c 888 541.41Q900.49 481.89%2c 960 494.38Q1032.63 447.01%2c 1080 519.65Q1130.58 498.23%2c 1152 548.81Q1187.96 464.77%2c 1272 500.73Q1319.13 475.86%2c 1344 522.99Q1406.81 513.8%2c 1416 576.61Q1457.55 546.16%2c 1488 587.72z' fill='white'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1000'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
  }
  
  .container {
    width: 100%;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  
  a {
    display: block;
    width: 100px;
    height: 100px;
    background-color: #fff;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    border-radius: 50%;
    text-align: center;
    line-height: 100px;
    font-size: 35px;
    transition: .2s;
    
  }
  
  a:hover {
    transform: translateY(-30px);
  }
  
  a:nth-child(1){
    color: #4FBDBA;
  }
  
  a:nth-child(2){
    color: #121212;
  }
  
  a:nth-child(3){
    color: #3b5998;
  }
  
  a:nth-child(4){
    color:  #cd486b;
  }
  
  
  
  
  